<a href="https://colab.research.google.com/github/NeeluDevi/assignment1/blob/main/24_Feb_AssQ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1. List any five functions of the pandas library with execution.**

**Ans:** reshape(),describe(),sort_values(),append(),merge(),info(),rolling(),head(),tail()

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame([['Neelu',20,44,'Mca'],['Shubham',22,25,'Mca'],['Vipin',23,59,'IOT'],['Chhotu',14,4,9]],columns=['name','age','roll no','class'])

In [3]:
df

      name  age  roll no class
0    Neelu   20       44   Mca
1  Shubham   22       25   Mca
2    Vipin   23       59   IOT
3   Chhotu   14        4     9

In [4]:
df.head()

      name  age  roll no class
0    Neelu   20       44   Mca
1  Shubham   22       25   Mca
2    Vipin   23       59   IOT
3   Chhotu   14        4     9

In [5]:
df.tail(2)

     name  age  roll no class
2   Vipin   23       59   IOT
3  Chhotu   14        4     9

In [6]:
df.describe()

             age   roll no
count   4.000000   4.00000
mean   19.750000  33.00000
std     4.031129  23.81876
min    14.000000   4.00000
25%    18.500000  19.75000
50%    21.000000  34.50000
75%    22.250000  47.75000
max    23.000000  59.00000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     4 non-null      object
 1   age      4 non-null      int64
 2   roll no  4 non-null      int64
 3   class    4 non-null      object
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes

In [8]:
df['age'].rolling(window=2).sum()

0     NaN
1    42.0
2    45.0
3    37.0
Name: age, dtype: float64

In [9]:
df1=pd.DataFrame([['Lucky',18,23,'IOT']],columns=['name','age','roll no','class'],index=['4'])

In [10]:
df.append(df1)

<ipython-input-10-4a1e5cfd36fa>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(df1)

      name  age  roll no class
0    Neelu   20       44   Mca
1  Shubham   22       25   Mca
2    Vipin   23       59   IOT
3   Chhotu   14        4     9
4    Lucky   18       23   IOT

In [11]:
df['age'].sort_values()

3    14
0    20
1    22
2    23
Name: age, dtype: int64

In [12]:
df[['name','age']].merge(df1)

Empty DataFrame
Columns: [name, age, roll no, class]
Index: []

In [13]:
df2=pd.concat([df,df1])

In [14]:
df2

      name  age  roll no class
0    Neelu   20       44   Mca
1  Shubham   22       25   Mca
2    Vipin   23       59   IOT
3   Chhotu   14        4     9
4    Lucky   18       23   IOT

In [15]:
pd.merge(df,df1,how='outer')

      name  age  roll no class
0    Neelu   20       44   Mca
1  Shubham   22       25   Mca
2    Vipin   23       59   IOT
3   Chhotu   14        4     9
4    Lucky   18       23   IOT

**Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.**

In [16]:
data=pd.DataFrame([['abc','cde','efg'],['abc','cde','efg'],['abc','cde','efg'],['jkl','mno','ghi'],['abc','cde','efg'],['asd','def','xyz']],columns=['A','B','C'])

In [17]:
data

     A    B    C
0  abc  cde  efg
1  abc  cde  efg
2  abc  cde  efg
3  jkl  mno  ghi
4  abc  cde  efg
5  asd  def  xyz

In [18]:
a=len(data)*2

In [19]:
data.set_index(np.array(list(range(1,a,2))))

      A    B    C
1   abc  cde  efg
3   abc  cde  efg
5   abc  cde  efg
7   jkl  mno  ghi
9   abc  cde  efg
11  asd  def  xyz

**Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.**

In [20]:
df=pd.DataFrame([[10,23,20,34],[45,40,80,68],[78,22,34,56],[87,98,76,87]],columns=['Values','A','B','C'])
df

   Values   A   B   C
0      10  23  20  34
1      45  40  80  68
2      78  22  34  56
3      87  98  76  87

In [21]:
df=pd.DataFrame([10, 20, 30, 40, 50],columns=['Values'])

In [22]:
df['Values'][:3].sum()

60

**Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.**

In [23]:
df=pd.DataFrame(['neelu','Shubham dhakarey','sudh sir','krish sir'],columns=['Text'])

In [24]:
df['Word_count']=df['Text'].apply(lambda x: len(x.split()))

In [25]:
df

               Text  Word_count
0             neelu           1
1  Shubham dhakarey           2
2          sudh sir           2
3         krish sir           2

**Q5. How are DataFrame.size() and DataFrame.shape() different?**

**Ans. :**  **size():-**It gives the size of dataframe or we can say tha it gives the total no. of elements present in the dataframe.

**shape():-**It gives the shape of data present in 2D,3D or 1D,having rows and columns present in the dataframe.

In [26]:
np.size(df)

8

In [27]:
np.shape(df)

(4, 2)

**Q6. Which function of pandas do we use to read an excel file?**

**Ans. :** pd.read_excel() used to read excel file.

**Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.**

In [28]:
df=pd.DataFrame(['username@domain.com','neelu@gmail.com','shubham@gmail.com','gaurav@yahoo.com'],columns=['Email'])

In [29]:
df

                 Email
0  username@domain.com
1      neelu@gmail.com
2    shubham@gmail.com
3     gaurav@yahoo.com

In [30]:
df['Username']=df['Email'].str.split('@').str[0]

In [31]:
df

                 Email  Username
0  username@domain.com  username
1      neelu@gmail.com     neelu
2    shubham@gmail.com   shubham
3     gaurav@yahoo.com    gaurav

**Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.**

In [32]:
df=pd.DataFrame([[ 3,5,1],[ 8,2,7],[6,9,4],[2,3,5],[9,1,2]],columns=['A','B','C'])

In [33]:
df

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [34]:
df[(df['A']>5) & (df['B']<10)]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

**Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.**

In [35]:
df=pd.DataFrame([10, 20, 30, 40, 50],columns=['Values'])

In [36]:
df['Values'].mean()

30.0

In [37]:
df['Values'].median()

30.0

In [38]:
df['Values'].std()

15.811388300841896

**Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.**

In [39]:
df=pd.DataFrame({'Sales':[10,20,30,40,50],'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']})

In [40]:
df

   Sales        Date
0     10  2023-01-01
1     20  2023-01-02
2     30  2023-01-03
3     40  2023-01-04
4     50  2023-01-05

In [41]:
df['MovingAverage']=df['Sales'].rolling(window=7,min_periods=1).mean()

In [42]:
df

   Sales        Date  MovingAverage
0     10  2023-01-01           10.0
1     20  2023-01-02           15.0
2     30  2023-01-03           20.0
3     40  2023-01-04           25.0
4     50  2023-01-05           30.0

**Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.**

In [73]:
per1=pd.date_range(start='2023-01-01',end='2023-01-05',freq='1d')
date = per1
dates=pd.DataFrame({'Date':per1})
dates

        Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05

In [74]:
dates['Weekday']=date.day_name()
dates

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

**Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.**

In [45]:
x=(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')

In [46]:
df.loc[x]

   Sales        Date  MovingAverage
0     10  2023-01-01           10.0
1     20  2023-01-02           15.0
2     30  2023-01-03           20.0
3     40  2023-01-04           25.0
4     50  2023-01-05           30.0

**Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?**

**Ans. :**import pandas as pd used to import pandas library.

In [47]:
import pandas as pd